.main-header {
  width: (650/2000)*100%;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 140px solid transparent;
    border-top: 114px solid #111;
    position: absolute;
    right: -140px;
    top: 0;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    background: url("../img/header-tiangle.png");
    width: 25px;
    height: 114px;
    right: -120px;
    bottom: 7px;
    z-index: -1;
    position: absolute;
  }
}