.bottom-form {
  border: 1px solid #d0d0d0;
  padding: 35px 43px;
  text-align: center;
  margin: 0 auto 140px;
  h2 {
    font-size: 24/16 * 100%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1em;
  }
  form {
    margin: 21px auto 0;
    input {
      height: 40px;
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid #858585;
      display: block;
      width: 70%;
      @media (max-width: $content-width/2) {
        width: 80%;
      }
      margin: 0 auto;
      padding-left: 10px;
    }
    input[type="submit"] {
      @extend %main-button;
      margin: 10px auto;
      width: 70%;
      @media (max-width: $content-width/2) {
        width: 80%;
        padding: 10px;
      }
    }
  }
}