.bottom-form {
  border: 1px solid #d0d0d0;
  padding: 35px 43px;
  text-align: center;
  margin: 0 auto 140px;
  h2 {
    font-size: 24/16 * 100%;
    font-weight: bold;
  }
  h3 {
    font-size: 1em;
  }
}