.documents {
  position: relative;
  margin: 0 auto;
  .owl-carousel {
    margin: 25px auto 75px;
    a[href$=".pdf"] {
      text-align: center;
      padding: 205px 0 0;
      margin: 0 auto;
      width: 153px;
      height: auto;
      background: url('../img/doc.png') center top no-repeat;
      display: block;
      color: #000;
      font-size: 15/16 * 100%;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}