.presentation {
  .vidniy-logo {
    display: block;
    margin: 0 auto 0 29%;
    top: -15px;
    text-align: center;
    position: relative;
    max-width: 25%;
  }
  .render {
    display: block;
    margin: 0 auto;
    top: -155px;
    position: relative;
    max-width: 100%;
  }
}