.presentation {
  .vidniy-logo {
    display: block;
    margin: 0 auto 0 29%;
    top: -15px;
    text-align: center;
    position: relative;
    max-width: 25%;
    @media all and (max-width: $content-width) {
      width: 17%;
      margin: 170px auto 0 35.9%;
      top: -25px;
    }
    @media all and (max-width: $content-width/2) {
      width: 40%;
      margin: 100px auto 30% 0;
      top: 75px;
    }
  }
  .render {
    display: block;
    margin: 0 auto;
    top: -155px;
    position: relative;
    max-width: 100%;
    z-index: 100;
    @media all and (max-width: $content-width) {
      width: 70%;
    }
    @media all and (max-width: $content-width/2) {
      width: 80%;
      top: -130px;
    }
  }
}