.tech-about-content {
  margin-bottom: 71px;
  background: url('../img/about-bg.jpg') center bottom no-repeat;
  background-size: cover;
}
.tech {
  margin: 40px auto 100px;
  &-plane {
    width: 320/960 * 100%;
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: 40px auto;
    padding: 0 10px 0 0;
    h3 {
      @media all and (max-width: $content-width/2) {
        text-align: center;
      }
    }
    img {
      display: block;
      margin: 40px auto;
      max-width: 100%;
      @media all and (max-width: $content-width/2) {
        width: 80%;
      }
    }
    @media all and (max-width: $content-width) {
      width: 100%;
    }
  }
  &-materials {
    @extend .tech-plane;
    width: 640/960 * 100%;
    padding: 0 25px;
    &-item {
      clear: both;
      margin: 25px auto 45px;
      p {
        font-weight: normal;
        font-size: 14/16 * 100%;
        vertical-align: bottom;
        @media all and (max-width: $content-width/2) {
          width: 70%;
          margin: 0 auto;
        }
      }
      img {
        padding: 0 5px 0 0;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        @media all and (max-width: $content-width/2) {
          width: 30%;
          display: block;
          margin: 15px auto;
        }
      }
      @media all and  (max-width: $content-width/2) {
        float: none;
      }
    }
    &-constr {
      h3 {
        font-size: 1em;
        font-weight: bold;
        padding-top: 40px;
      }
      ul {
        margin-top: 16px;
        list-style: disc;
        float: left;
        width: 50%;
        padding: 0 15px 0 20px;
        li {
          font-size: 13/16 * 100%;
          line-height: 1.5;
          font-weight: normal;
        }
      }
      @media all and (max-width: $content-width) {
        margin-top: 0;
      }
      @media all and (max-width: $content-width/2) {
        float: none;
        margin-bottom: 280px;
      }
    }
    @media all and (max-width: $content-width/2
  ) {
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
  }
  @media all and (max-width: $content-width
) {
   padding: 0 15px;
  }
}
.about {
  padding: 90px 0 150px;
  color: #fff;
  h2 {
    color: #fff;
    margin-bottom: 35px;
  }
  &-text {
    p {
      margin-bottom: 30px;
      font-size: 18px;
      text-align: center;
      line-height: 1.2;
      font-weight: normal;
    }
  }
  @media all and (max-width: $content-width/2) {
    padding-top: 0;
    padding-bottom: 270px;
    p {
      font-size: 14/16 * 100%;
      padding: 0 15px;
    }
  }
}